
.gradle/
__gradle__/
build/
gradle/

bin/
Libs/
__Libs__/
Reports/
output/
!output/.gitkeep
Temp/
.cache/
.settings/
.classpath
.__classpath__
.project

Data Files/VisualTesting/Actual/
Data Files/VisualTesting/Failed/

*.log


.DS_Store
Thumbs.db
desktop.ini


.idea/
*.iml
.vscode/


*.bak
*~

*.xml
!output/.gitkeep